.chat-app {
  display: flex;
  height: 100vh;
  background-color: #000000; /* Dark background color */
  color: #fff; /* Light text color */
  overflow: hidden;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #000000; /* Dark background color */
  color: #fff; /* Light text color */
}

.chat-window {
  flex: 5;
  padding: 20px;
  background-color: #000000; /* Dark background color */
  color: #fff; /* Light text color */
  margin-bottom: 10px;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.chat-messages {
  height: 700px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #000000; /* Dark background color */
  color: #fff; /* Light text color */
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
  max-width: 70%;
}

.sent {
  background-color: green;
  align-self: flex-start;
  margin-right: 10px;
}

.received {
  background-color: blue;
  align-self: flex-end;
  margin-left: 10px;
}

.chat-input {
  display: flex;
  height: 40px;
  align-items: center; /* Added for vertical alignment */
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #e3d1d1;
  border-radius: 15px;
  margin-right: 50px;
}

.chat-input button {
  background-color: #1e1e1e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  height: 45px;
  margin: 0 10px 5px 0;
}

.chat-input button:hover {
  background-color: #333; /* Adjusted color for hover effect */
}

